# 1. Android Studio 相关
.idea/
*.iml
*.iws
*.ipr

# 2. Gradle 相关
.gradle/
/build
/app/build
.gradle
gradle-app.setting

# 3. 本地配置
local.properties

# 4. 系统文件
.DS_Store
Thumbs.db

# 5. 构建/缓存文件
captures/
.externalNativeBuild/
.cxx/
*/.cxx/
*.log
*.tmp

# 6. NDK/CMake 相关
cmake-build-*/